.main .info {
    max-width: 1800px;
    width: 100%;
    margin: 50px auto 0;
}

.main .info .wrapperTitle {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    position: relative;
}

.main .info .wrapperTitle .mainBlock {
    max-width: 850px;
    width: 100%;
}

.main .info .wrapperTitle .mainBanner {
    background-color: rgba(241, 242, 243, 1);
    max-width: 800px;
    width: 100%;
    height: 400px;
}


.main .info .wrapperTitle .mainBlock .imageDots {
  position: absolute;
  top: 0;
  left: 60px;
  width: 322px;
  height: 320px;
  opacity: 0.5;
  transform: rotate(90deg);
  z-index: -1; /* чтобы не перекрывала текст */
}

.main .info .wrapperTitle .mainBlock .imageDots img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}


.main .info .wrapperTitle .mainBlock .logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.main .info .wrapperTitle .mainBlock .logo .headerMain {
    font-family: Josefin Sans;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    color: rgba(0, 0, 0, 1);
}

.main .info .wrapperTitle .mainBlock .logo .menu {
    display: flex;
    gap: 12px;
    align-items: center;
}

.main .info .wrapperTitle .mainBlock .logo .menu .lineVertical {
    background-color: rgba(0, 0, 0, 1);
    width: 1.5px;
    height: 15px;
}

.main .info .wrapperTitle .mainBlock .logo .menu .menuItem a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(0, 0, 0, 1)
}

.main .info .wrapperTitle .mainBlock .logo .menu .menuItem.active a,
.main .info .wrapperTitle .mainBlock .logo .menu .menuItem a:hover {
    color: #FF8E8E;
}

.main .info .wrapperTitle .mainBlock .line {
    background-color: rgba(0, 0, 0, 1);
    height: 1.5px;
    width: 100%;
}

.asLink {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.menuItem.active button,
.menuItem button:hover {
  color: #FF8E8E;
}
