.footer {
    border-top: 20px solid rgba(238, 238, 238, 1);
    position: relative;
    margin-top: 250px;
}

.footer-info {
    margin: 110px 0 90px 0;
    display: flex;
}

.icon-dots {
    position: absolute;
    top: 50px;
    left: 30px;
}

.column .title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 1);
}


.column-1 {
    max-width: 331px;
    margin: 0 60px 0 0;
}

.column-2 {
    margin: 0 108px 0 0;
}

.column-3 {
    margin: 0 74px 0 0;
    max-width: 119px;
    width: 100%;
}

.column-2,
.column-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-list a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);
}

.custom-list .item {
    gap: 12px;
}

.custom-list .item::before {
    width: 3px;
    height: 3px;
}

.column-4 {
    max-width: 361px;
}

.column-4 .title {
    margin: 0 0 16px 0;
}

.column-4 .newsletter-text {
    margin: 0 0 36px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}

.column-4 .newsletter-form {
    position: relative;
}

.column-4 .newsletter-form .input {
    padding-right: 30px;
}

.column-4 .newsletter-form .send-icon {
    position: absolute;
    right: 0;
}

.column .logo {
    margin: 0 0 25px 0;
}

.column .about-brand {
    padding: 0 0 25px 0;
    max-width: 326px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    margin: 0 0 35px 0;
    color: #444444;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}

.copyright {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    border-top: 1px solid rgba(68, 68, 68, 0.2);
    padding-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);
}

.payment-methods-container {
    display: flex;
    gap: 13px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-transform: capitalize;
    color: rgba(68, 68, 68, 1);
}

.payment-methods {
    display: flex;
    gap: 8px;
}
